.container {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/images/login-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  .login-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      display: flex;
      flex-direction: column;
      label {
        font-size: 53px;
        font-weight: 600;
        color: #2987fe;
      }
      span {
        font-size: 24px;
        color: #2987fe;
      }
    }
    .login-way {
      display: flex;
      margin: 83px 0 24px 0;
      > div {
        width: 180px;
        height: 45px;
        background: #ffffff;
        border-radius: 0px 0px 0px 0px;
        opacity: 1;
        color: #333639;
        text-align: center;
        line-height: 45px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        &:hover {
          color: #2987fe;
        }
        &::after {
          transition: all 0.2s linear;
          transform: translateX(-50%) scaleX(0);
          content: '';
          width: 100%;
          position: absolute;
          left: 50%;
          bottom: 0px;
          border-bottom: 2px solid #2987fe;
          border-radius: 4px;
        }
        &.select {
          color: #2987fe;
          &::after {
            content: '';
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) scaleX(1);
            bottom: 0px;
            border-bottom: 2px solid #2987fe;
          }
        }
      }
    }
    .error-msg {
      margin-bottom: 24px;
      width: 360px;
    }
    .form {
      width: 360px;
      .login-form-input {
        height: 40px;
        font-size: 16px;
        color: #468dff;
      }
      .login-form-button {
        height: 40px;
        width: 100%;
        font-size: 16px;
      }
    }
  }
  .footer {
    position: fixed;
    left: 50%;
    bottom: 44px;
    color: #B6B8BC;
    transform: translateX(-50%);
  }
  .confirm {
    margin: 0 auto;
  }
}
